<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>http://wwwtest.msyos.com:10001/msyos_MSYOS_YZ.ipa</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>http://wwwtest.msyos.com:10001/favicon.ico</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>full-size-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>http://wwwtest.msyos.com:10001/favicon.ico</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>com.msyos.enterprise.msyos</string>
					<key>bundle-version</key>
					<string>1.0.0</string>
					<key>kind</key>
					<string>software</string>
					<key>subtitle</key>
					<string>民生云</string>
					<key>title</key>
					<string>民生云</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
